# root検索の停止
root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 130

[*.{kt,kts}]
ktlint_code_style = android_studio
ktlint_standard = enabled
ktlint_experimental = enabled
ij_kotlin_imports_layout=*,java.**,javax.**,kotlin.**,^
